<div class="bg-image shadow-1-strong mb-3"
style="background-image: url('/assets/customerservice.webp');">
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">          
              <form [formGroup] = "CreatRequest.formUserGroup">
                
                <div *ngIf="isbtn;else header_content">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Update Request Form</h3>
              </div>              
              <ng-template #header_content>
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create Request Form</h3>
              </ng-template>
                <div class="form-group">    
                     <label>Select Service Request Category:</label>  <br/>
                     <span class="validspan" *ngIf="!CreatRequest.formUserGroup.controls['Categoty'].valid && 
                  CreatRequest.formUserGroup.controls['Categoty']?.touched"> Category is required</span>              
                    <select name="Categoty" formControlName="Categoty" placeholder="Select Service Request Category" class="form-control"  aria-label="Default select example" [(ngModel)]="CreatRequest.Categoty">
                      <option value="">Select Service Request Category</option>
                      <option *ngFor="let dropdowndata of ServiceRequestDropDown" [value]="dropdowndata.srcId">{{dropdowndata.categoryname}}</option>
                    </select>   
                              
                      <div class="form-group mt-1">                
                          <textarea name="Description" formControlName="Description" class="form-control"  placeholder="Enter Request Description"  type="text" [(ngModel)]="CreatRequest.Description"></textarea> 
                          <span class="validspan" *ngIf="!CreatRequest.formUserGroup.controls['Description'].valid && 
                          CreatRequest.formUserGroup.controls['Description']?.touched"> Description is required</span>                    
                      </div>               
                
                <div class="form-group mt-1 pt-2">
                  <div *ngIf="isbtn;else other_content">
                    <button  class="btn btn-primary" (click)="UpdateRequest()" [disabled]="!(CreatRequest.formUserGroup.valid)">Update Request</button> <span style="padding-right: 5px;"></span>

                   
                </div>
                
                <ng-template #other_content>
                  <button  class="btn btn-primary" (click)="createRequest()" [disabled]="!(CreatRequest.formUserGroup.valid)">Create Request</button><span style="padding-right: 5px;"></span>
                  
                </ng-template>
                         
               
                   
                </div>  
              
            </div>
              </form>                       
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>